#AA {
    left: 597px;
    top: 319px;
}

#AB {
    left: 331px;
    top: 272px;
}

#AC {
    left: 951px;
    top: 534px;
}

#AH {
    left: 1013px;
    top: 598px;
}

#AP {
    left: 514px;
    top: 211px;
}

#AT {
    left: 555px;
    top: 198px;
}

#CB {
    left: 613px;
    top: 246px;
}

#CC {
    left: 848px;
    top: 535px;
}

#CO {
    left: 1050px;
    top: 298px;
}

#DH {
    left: 1120px;
    top: 219px;
}

#DT {
    left: 493px;
    top: 88px;
}

#FH {
    left: 1023px;
    top: 530px;
}

#FR {
    left: 833px;
    top: 190px;
}

#GH {
    left: 963px;
    top: 236px;
}

#GR {
    left: 900px;
    top: 201px;
}

#GY {
    left: 920px;
    top: 589px;
}

#HC {
    left: 269px;
    top: 144px;
}

#HP {
    left: 419px;
    top: 287px;
}

#HS {
    left: 569px;
    top: 353px;
}

#IH {
    left: 925px;
    top: 658px;
}

#LA {
    left: 298px;
    top: 182px;
}

#LE {
    left: 1078px;
    top: 121px;
}

#LH {
    left: 792px;
    top: 212px;
}

#LX {
    left: 960px;
    top: 294px;
}

#MB {
    left: 666px;
    top: 510px;
}

#MC {
    left: 784px;
    top: 356px;
}

#ME {
    left: 715px;
    top: 261px;
}

#ML {
    left: 388px;
    top: 117px;
}

#NB {
    left: 634px;
    top: 605px;
}

#NI {
    left: 683px;
    top: 349px;
}

#NW {
    left: 703px;
    top: 675px;
}

#PA {
    left: 398px;
    top: 231px;
}

#PG {
    left: 570px;
    top: 483px;
}

#PH {
    left: 888px;
    top: 339px;
}

#RB {
    left: 476px;
    top: 410px;
}

#RH {
    left: 905px;
    top: 302px;
}

#RO {
    left: 536px;
    top: 548px;
}

#RU {
    left: 964px;
    top: 176px;
}

#SA {
    left: 325px;
    top: 131px;
}

#SC {
    left: 511px;
    top: 361px;
}

#SH {
    left: 1101px;
    top: 270px;
}

#SP {
    left: 1021px;
    top: 177px;
}

#SR {
    left: 216px;
    top: 126px;
}

#TB {
    left: 469px;
    top: 248px;
}

#TC {
    left: 1105px;
    top: 457px;
}

#TT {
    left: 738px;
    top: 600px;
}

#UC {
    left: 516px;
    top: 296px;
}

#VS {
    left: 242px;
    top: 100px;
}