#game-board {}

.game-button {
    position: absolute;
    border: solid white;
    border-radius: 50%;
    padding: 3px;
    background-color: #eee;
}

#announcement {
    position: absolute;
    background-color: white;
    text-align: center;
    left: 50%;
    top: 50px;
}