#game-board {}

.game-button {
    position: absolute;
    border: solid white;
    border-radius: 50%;
    padding: 3px;
    background-color: #eee;
}

#circle{
    position: absolute;
    border-radius: 50%;
    border: solid 3px red;
    height: 50px;
    width: 50px;
    visibility: hidden;
}
#hud {}

#announcement {
    position: absolute;
    background-color: white;
    text-align: center;
    left: 50%;
    top: 50px;
}

#scoreboard {
    position: absolute;
    background-color: white;
    text-align: center;
    left: 50px;
    top: 50px;
}

#end-screen {
    position: absolute;
    background-color: white;
    border: solid 10px black;
    border-radius: 10px;
    text-align: center;
    left: 50%;
    top: 50%;
    padding: 10px;
    visibility: hidden;
}